<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update database</title>
</head>
<body>
    <h1>Database updated!</h1>
    <p>The local database has been populated with the latest NY Times articles on China.</p>

    <p>Visit the <a href="{{url_for('china_articles')}}">/china</a> endpoint to view the current China article links stored in the local database.</p>
    <p>Or return to the nytimes_search app <a href="{{url_for('index')}}">home page</a>.</p>
</body>
</html>